body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, pink, white 90%);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-container-content {
    width: 85%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.burger-logo-wrapper-container {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
.auth-btns-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.auth-btns-container li {
    list-style: none;
}

.auth-btns-container a {
    text-decoration: none;
    color: black;
}

.auth-btns {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.9rem;
}

#login-btn {
    margin-right: 5px;
}

#signup-btn {
    margin-left: 5px;
    background-color: #ff0066;
    color: white;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid-item-1 {
    grid-column: span 1;
    grid-row: span 1;
}

.grid-item-2 {
    grid-column: span 1;
    grid-row: span 2;
    justify-self: center;
    align-self: center;
}

.grid-item-3 {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: start;
}
.header-content {
    font-size: 3rem;
}

#cover-img {
    width: 300px;
}

.get-started-section-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.get-started-wrapper {
    display: flex;
    align-items: center;
}

.get-started-btn {
    color: white;
    background-color: black;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.get-started-arrow {
    margin-left: 15px;
    font-size: 2.5rem;
}

.footer-container {
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-brands {
    color: grey;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        left: 0px;
        height: 100%;
        top: 6vh;
        /* background-color: brown; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #ff0066;
        width: 60%;
        transform: translateX(-100%);
        transition: transform 0.1s ease-in;
    }
    .nav-links li {
        opacity: 0;
        margin: 20px 0px;
    }
    .nav-links li a {
        color: white;
    }
    .burger {
        display: block;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-item-1 {
        grid-row: span 1;
        justify-self: center;
    }

    .grid-item-2 {
        grid-row: span 1;
        justify-self: center;
    }

    .grid-item-3 {
        grid-row: span 1;
        justify-self: center;
    }
    .get-started-section-container {
        align-items: center;
    }
    .get-started-text-container {
        max-width: 310px;
    }
    .footer-brands {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        width: 80px;
    }
    .footer-brands {
        font-size: 0.8rem;
    }
    .auth-btns {
        font-size: 0.8rem;
        padding: 6px 9px;
    }

    #login-btn {
        margin-right: 4px;
    }

    #signup-btn {
        margin-left: 4px;
    }
    #cover-img {
        width: 250px;
    }
    .header-content {
        font-size: 2.5rem;
    }
    .get-started-text-container {
        max-width: 250px;
    }
    .get-started-text {
        font-size: 0.9rem;
    }
}

.nav-active {
    transform: translateX(0%);
}
